@page
@model ProfilesModel
@{
    ViewData["Title"] = "Profiles";
}
<h1>@ViewData["Title"]</h1>

<ul>
    @foreach (var profile in Model.Profiles)
    {
        <li>
            <a asp-page="/Profile" asp-route-id="@profile.Id">@profile.FirstName @profile.LastName</a>
        </li>
    }
</ul>
<p>Total count: @Model.TotalCount</p>
@if (Model.Skip > 0)
{
    <a asp-page="/Profiles"
       asp-route-skip="@(Model.Skip - Model.Take > 0 ? Model.Skip - Model.Take : 0)"
       asp-route-take="@Model.Take">Prev</a>
}

@if (Model.Skip + Model.Take < Model.TotalCount)
{
    <a asp-page="/Profiles"
       asp-route-skip="@(Model.Skip + Model.Take)"
       asp-route-take="@Model.Take">Next</a>
}