@page "{id}"
@model ProfileModel
@{
    ViewData["Title"] = "Profile not found";
    if (Model.Profile != null)
    {
        ViewData["Title"] = $"{Model.Profile.FirstName} {Model.Profile.LastName}";
    }
}

@if (Model.Profile == null)
{
    <h1>Profile not found</h1>
}
else
{
    <h1>@Model.Profile.FirstName @Model.Profile.LastName</h1>

    <h2>News</h2>
    <ul>
        @foreach (var publication in Model.News)
        {
            <li>
                <p>Author: <a asp-page="/Profile" asp-route-id="@publication.Author.Id">@publication.Author.FullName</a></p>
                <p>@publication.Content</p>
            </li>
        }
    </ul>
}
